@media only screen and (max-width: 767px) {
    header{
        display: flex;
        font-size: 2rem;
        justify-content: center;
        align-items: center;
        text-align: end;
        background-color: #023047;
        color: #ffb703;
        font-family: 'Montserrat';
        padding: 1rem;
    }
    header img{
        width: 5rem;
    }
    
    #button{
        display: block;
        color:#219ebc ;
        background-color:#ffb703;
        text-decoration: none;
        text-align: center;
        font-size: 2rem;
        width: 100%;
    }
    #button::before{
        content: "≡";
    }
    nav{
        background-color: #023047;
    }

    nav ul{
        text-align: center;
        list-style: none;
        padding: 0;   
        margin: 0;   
    }

    nav ul li{
        display: none;
    }

    #list li a{
        display: block;
        padding: 0.5rem;
        text-decoration: none;
        color: #ffb703;
        font-family: 'Montserrat';
    }
    #list li a:hover{
        background-color:#219ebc;
    }

    .show li{
        display: block;
    }

    #button.show::before{
        content: "X";
    }
    #presentation{
        display: grid;
        grid-template-rows: 1fr .5fr .5fr .5fr;
        text-align: center;
    }
    #hero-img{
        grid-row: 1/2;
        width: 100%;
    }
    #icon-img{
        justify-self: center;
    }

    #presentation h1{
        grid-row: 3/4;
        margin: 0;
        font-family:'Montserrat' ;
        color: #023047;
    }
    #presentation a{
        background-color: #ffb703;
        color: #023047;
        font-size: 2rem;
        margin: 3rem;
        border-radius: 7px;
        text-decoration: none;
        font-family: 'Lato';
        border: 2px solid #023047 ;
    }
    #event{
        text-align: center;
        background-color: #ffb703;
        color: #023047;
        padding: 2rem;
        font-family: 'Montserrat';
        padding: 1rem;
        margin: 1rem;
        border-radius: 7px;
    }
    #event img{
        width: 90%;
    }


    #advertisements{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .article{
        background-color: #023047;
        color: #ffb703;
        margin: 1rem;
        border-radius: 7px;       
    }

    .know{
        background-color: #ffb703;
        padding: .5rem;
        border-radius: 7px;
        text-decoration: none;
        font-family: 'Lato';
        color: #023047;
    }
    #weather{
        background-color: #ffb703;
        font-size: 2rem;
        font-family: 'Montserrat';

    }
    .temperature{
        font-size: 5rem;
    }
    #weather img{
        width: 20rem;
    }

    #information{
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    #Content{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        font-family: 'lato';            
    }
    .news{
        width: auto;
        background-color: #023047;
        border: 2px solid #ffb703;
        border-radius: 7px;
        margin:.5rem;
        color: #ffb703;   
        padding: .5rem;  
    }
    .news h2{
        font-family: 'Montserrat';
        text-align: center;
    }
    iframe{
        width: 100%;
    }
    #galery{
        display: flex;
        flex-direction: column;
    }
    #galery picture{
        width: 100%;
        
    }

    picture img{
        width: 100%;
    }

    

    footer{
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color:#023047;
        font-family:'Open Sans','Montserrat';
        color: #ffb703;
    }

    /**********STYLE FOR THE FORM************/

   #form{
    font-family: 'Montserrat';
   }
   #form label{
    display:block ;
    display: block;
    color: red;
    font-size: .9rem;
    padding-top: 1rem;

   }

   #form fieldset{
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0.5rem;
   }

   #form legend{
    color:#023047;
    padding: 0.5rem;
   }

   #form input[type="text"],
   #form input[type="email"],
   #form input[type=tel]{
    background-color: #eee;
    display: block;
    border-radius: 6px;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left:  .20rem;
    padding-right: .20rem;
   }

   #description{
    height: 5rem;
   }

   #title-options{
    font-size: .9rem;
    color:#023047;
    font-family: 'Montserrat';
   }

   #form input[type='radio']{
    margin-right: 6px;
   }

   textarea{
    width: 100%;
    max-width: 400px;
    margin-top: 1rem;
    border-radius: 7px;
    border: 1px solid;
   }

   #form input[type='submit']{
    border:none;
    background-image: linear-gradient(#023047,#325572);
    color: #fff;
    padding: .8rem;
    border-radius: 6px;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    }
     
    /********table***********/

    #table-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        width: 100%;
        margin-bottom: 2rem;
    }
    table{
        color:#ffb703;
        font-family: 'Montserrat';
        
    }
    
    table ,th , td{
        border: 2px solid black;
        border-collapse: collapse;
        padding: 1rem;
    }

    table tr{
        background-color: #023047;
    }

    /********grid style********/

    .grid{
        display: flex;
        flex-direction: column;
    }

    .grid section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #8ecae6;
        margin: 1rem;
        border-radius: 10px;
        border: 5px solid #023047;
        font-family: 'Montserrat';
        text-align: center;
    }

    .grid a{
        text-decoration: underline;
    }

    .grid img{
        width: 35%;
    }
    #grid-button,#list-button{
        font-size: 2rem;
        margin: 1.2rem;
        font-family: 'Montserrat';
        border: 3px solid;
        border-radius: 7px;
        width: 6rem;
    }



    .list img{
        display: none;
    }
    .list{
        margin: .50rem;
    }

    .list section{
        display: flex;
        flex-direction: column;
        font-family: 'Montserrat';
        padding: 5px;
    }

    .list section:nth-child(odd){
        background-color:#8ecae6;
    }
    .list section:nth-child(even){
        background-color: gainsboro;
    }
    .list section h1,
    .list section h2,
    .list section p{
        margin: 2px;
        font-size: 1rem;
    }
}