@media screen and (min-width : 767px){
    header{
        display: grid;
        grid-template-columns: 70px auto;
        padding: 1rem;
        font-size: 3rem;
        justify-items: end;
        background-color:#023047 ;
        color: #ffb703;
        font-family: 'Montserrat';      
    }
    
    header img{
        width: 4rem;
        height: 4rem;
        grid-column: 1/2;
    }
    header span{
        grid-column: 2/3;
    }
    
    #menu{
        background-color:#219ebc ;
    }
    
    #menu ul{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        list-style: none;
        text-align: center;
        margin: 0;
    }
    #menu ul li a{
        text-decoration: none;
        font-family: 'Lato';

    }
    
    #menu ul li:hover{
        background-color: #ffb703;
    
    }
    #menu,ul,li,a{
        height: 2rem;
    }
    
    /*settings of the prentation image*/
    
    #presentation{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(3,1fr);
        position: relative;
        height: 400px;
        justify-items: center;
        margin-bottom: 3rem;
        
    }
    
    #hero-img{
        position: absolute;
        grid-column: 1/4;
        grid-row: 1/4;
        width: 100%;
        height: 400px;
        z-index: 1;
        margin: 0;
        filter: blur(4px);
    }
    #presentation h1{
        position: absolute;
        grid-column: 2/3;
        grid-row: 1/2;
        z-index: 2;
        font-size: 1.5rem;
        color:#ffb703;
        text-align: center;
        font-family: 'Open Sans';
        background-color: #023047;
        border-radius: 7px;

    }
    #icon-img{
        position: absolute;
        grid-column: 2/3;
        grid-row: 2/3;
        width: 8rem;
        height: 8em;
        z-index: 2;
    }
    #presentation a{
        position: absolute;
        grid-column: 2/3;
        grid-row: 3/4;
        background-color:#023047;
        border-radius: 5px;
        color: #ffb703;
        border: 1px solid #023047;
        z-index: 2;
        width: 50%;
        top: 2.5rem;
        text-align: center;
        font-size:1.5em;
        text-decoration: none;
        align-content: center;
        font-family: 'Open Sans';
    }
    
    /************Seccion de eventos****************/
    
    #event{
        background-color: #8ecae6;
        border-radius: 7px;       
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30rem;
        padding: 1rem;
        border: 2px solid #023047;
    }

    #event h3{
        font-family: 'Montserrat';
        color: #023047;
    }
    #event p{
        font-family: 'lato';
        font-size: 1.5em;
        color:#023047;      
    }
    #event img{
        width: 20rem;
        height: 15rem;
        border-radius:7px;
        
    }

    /**advertisements********/

    #advertisements{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .article{
        text-align: center;
        border: 1px solid #023047;
        color: #ffb703;
        margin: 2rem;
        background-color: #023047;
        border-radius: 7px;
        width: 70%;
        height:90%;
        
    }
    .know{
        background-color: #ffb703;
        color:#023047;
        padding: .5rem;
    }

    .know:hover{
        font-size: 2rem;
    }

    .article h3{
        font-family: 'Montserrat';
    }
    .img-article{
        width: 15rem;
    }

    .article p{
        font-family: 'lato','Open Sans';
    }



    #weather{
        background-color:#FFDF00;
        margin: 2rem;
        border-radius: 7px;
        width: 80%;
        height: 800px;
        font-size: 2rem;
        grid-column: 1/2;
        grid-row: 1/3;
        padding: 1rem;
        color: #023047;
    }
    #weather h4{
        font-family: 'Montserrat';
    }

   #temperature{
    margin-top: 3rem;
    width: 10em;
   }
    /*-----------------section of discover----------*/
    #information{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1rem;
        padding: 1rem;
    }
    #Content{
        grid-column: 1/2;
        height: 35rem;
    }
    



    /**********FOOTER************************/

    footer{
        background-color:#023047;
        color: #ffb703;
        display: flex;
        flex-direction: column;
        text-align: center;   
        font-family: 'Montserrat'; 
        height: 150px;
        
        
    }    
    #modification {
        font-family: 'Montserrat';
        color : #ffb703;
    }

    #information{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        margin: 2rem 2rem;
    }
    #Content{
        grid-column: 1/2;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 10rem;
        font-family: 'lato';
        font-size: 1.5rem;
        
    }
    #Content h2{
        font-family: 'Montserrat';
        
    }
    .news{
        border: 3px solid #ffb703;
        border-radius: 7px;
        padding: 1rem;
        color: #ffb703;
        background-color: #023047;
    }
    iframe{
        width: 100%;
    }
    #galery{
        grid-column: 2/3;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    #galery picture{
        width: 100%;
    }

    picture img{
        width: 100%;
        
    }
    picture img:hover{
        box-shadow: 0 0 80px #333;
    }
    

    /*********form*****/

    #contenido{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 3rem;
    }

    #form{
        margin: 2rem;
    }

    #form legend{
        color:#023047;
        padding: 0.5rem;
       }

    #form fieldset{
        margin: 2rem 0;
        border: 1px solid #ddd;
        border-radius: 6px;
        padding: 0.5rem;
        
    }

    #form label{
        display: block;
        color: #d86666;
        padding-top: 1rem;
        font-size: .9rem;
        width: 100%;
        max-width: 400px;
    }

    #form input[type="text"],
    #form input[type="tel"],
    #form input[type="email"]{
        background-color: #eee;
        display: block;
        border-radius: 6px;
        padding: .75rem;
        color: #555;
        appearance: none;
        width: 100%;
    }
    #form div{
        padding-top: 1rem;
        color:#023047;
        font-size: .9rem;
    }

    #form input[type="radio"]{
        margin-right: 10px;
    }

    #form input[type='submit']{
        border:none;
        background-image: linear-gradient(#023047,#325572);
        color: #fff;
        padding: .8rem;
        border-radius: 6px;
        width: 96%;
        max-width: 400px;
        margin: -1rem 2% 2rem 2%;
    }

    #title-options{
        font-size: .9rem;
        color:#023047;
        font-family: 'Montserrat';
       }
    #description{
        height: 5rem;
       }

    table{
        color:#ffb703;
        font-family: 'Montserrat';
        margin: 3rem;
        
    }
    
    table ,th , td{
        border: 2px solid black;
        border-collapse: collapse;
        padding: 1rem;
    }

    table tr{
        background-color: #023047;
    }
    
}   