* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 body{
    margin: 2%;
 }

  
span{
  display:flex;
  background-color :rgb(22, 53, 94);
  padding:2rem;
  
}
span img{
  box-shadow: 5px 5px 30px black;
  height:9rem;
  
}

span h3{
  margin:2rem 1rem;
  color:white;
  font-size:2rem;
}
nav{
  display:flex;
  justify-content:center;
  background-color:black ;
}
nav ul{
  display:flex;
  flex-direction:column;
  color:white;
  width: 100%;
}
nav ul a {
  color:white;
  padding:0.5rem;
  text-align: center;
}

nav ul a:hover{
    background-color: brown;   
}

main{
  display:flex;
  flex-direction:column;
  row-gap:2rem;
}

.card{
  border:2px solid rgb(22, 53, 94);
  border-radius:0.5rem;
  height:10rem;
  
}
main h1{
  font-size:1.5rem;
}
.card h2{
  background-color:skyblue;
}


footer{
  margin-top:3rem;
  background-color:  rgb(22, 53, 94);
  color: white;
  text-align: center;
  height: 100%;
  padding: 1rem;
}  