@media screen and (min-width : 640px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
     body{
        margin: 2%;
     }
    
      
    header{
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-template-rows:20px auto ;
        padding: 20px;
        font-size: 30px;
        column-gap: 5px;  
        align-items: center;
        font-size: 60px;
        background-color: rgb(22, 53, 94);
        color: white;
        font-family: "Nunito Sans", sans-serif;

    }
    #mode{
        grid-column: 4/5;
        font-size: 2rem;
        top: 0;
        text-align: right;
        text-decoration: none; 
        background-color:skyblue;   
    }

    img{
        grid-column: 2/3;
        grid-row: 2/3;
        box-shadow: 5px 5px 30px black;
        width: 150px;
    }
    
    span{
        grid-column: 3/5;
        grid-row: 2/3;
        font-size: 3.5rem;
    }
    nav{
        background-color:black;
    }
    #menu{
        display: none;
    }
    nav ul{
    display: flex;
    justify-content: space-around;
   }
   nav ul li{
    display: block;
    width: 100%;
    
   }

   #content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    margin: 2rem;
   }

   #content h1{
    grid-column: 1/3;
   }
   .card ul{
    padding: 1rem;
   }

   .card li{
    list-style: none;
   }
   
   .card li a{
    text-decoration: none;
   }
    footer{
        background-color:  rgb(22, 53, 94);
        color: white;
        text-align: center;
        height: 100%;
        padding: 1rem;
        margin-top: 0px;
    }    
    #hero{
        grid-column: 1/3;
        grid-row: 1/2;
        margin: 10px auto;
	    position: relative;
	    border: 1px solid rgba(0,0,0,.1);
        padding: 1rem;
	    
            
    }
    .hero picture{
        width: 100%;
        
    }

    picture img{
        width: 100%;
        height: auto;
        object-fit: cover;
        
    }
    .herolabel {
        position: absolute;
        top: 30px;
        left: 30px;
        background: radial-gradient(#fff, #4D5B97);
        border: 1px solid rgba(0,0,0,.75);
        padding: 1.5rem;
        box-shadow: 0 0 3rem #fff;
        opacity: 0.75;
        
        /* Buenas */
    }
    
    .herolabel p {
        margin: 0;
        padding: .25rem;
        font-weight: 700;
        font-size: 1.5rem;
        font-family:"Great Vibes", serif;
    }
    iframe{
        width: 100%;
    }

    #container-weather img{
        width: 3rem;
        height: 3rem;
        box-shadow: none;
    }

    #container-weather p{
        display: inline;
    }
}