@media screen and (min-width : 640px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
     body{
        margin: 2%;
     }
    
      
    header{
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        padding: 20px;
        font-size: 30px;
        column-gap: 5px;  
        align-items: center;
        font-size: 60px;
        background-color: rgb(22, 53, 94);
        color: white;
        font-family: "Nunito Sans", sans-serif;

    }
    img{
        grid-column: 2/3;
        box-shadow: 5px 5px 30px black;
        width: 150px;
    }
    
    span{
        grid-column: 3/5;
        font-size: 3.5rem;
    }
    nav{
        background-color:black;
    }
    #menu{
        display: none;
    }
    nav ul{
    display: flex;
    justify-content: space-around;
   }
   nav ul li{
    display: block;
    width: 100%;
    
   }
    main{
        margin: 4%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 15px;
        column-gap: 20px;
        height: 200px;
        width: 80%;
    
    }
    h1{
        grid-column: 1/3;
        font-family: "Nunito Sans", sans-serif;
    
    }
    h2{
        background-color: skyblue;
        font-family: 'Nunito Sans';
    }
    .card{
        border: 2px solid  rgb(22, 53, 94);
        border-radius: 9px;
        box-shadow: 10px 10px 10px gray;
    }
    
    .card ul{
    margin-left: 2rem;
    }
    footer{
        background-color:  rgb(22, 53, 94);
        color: white;
        text-align: center;
        height: 100%;
        padding: 1rem;
    }    
}